# Files serving as tests
/samples
/test
*.zip
/unzipped
*.xlsx
*.xml

# Virtual environment directory (default name)
.env/
.venv/
.env

# Pipenv specific lock file
Pipfile.lock

*/__pycache__
/build
/dist
gui.spec
src\__pycache__
